<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
        <title>ChatLead</title>

    </head>
    <body>
        <h1>Dashboard</h1>
        <h3>Whatsapp Conectado</h3>
        <br/>

        <script>
            const socket = io('http://localhost:3000');
            socket.on("connection");
            socket.on("chat", (data) => {
                console.log('dash: ' + data);
            });
            
        </script>
    </body>
    <style>
        .qr{
            margin-top: 20px;
        }
    </style>
</html>